/* ROOT */

:root {
  --main-background-color: #2f303a;
  --main-brand-color: #2196f3;
  --main-text-color: #000;
  --alternative-text-color-white: #fff;
  --alternative-text-color-grey: #757575;
  --alternative-text-color-darkgrey: #212121;
  --alternative-text-color-black-alfa60: #ffffff99;
  --alternative-background-color-lightgrey: #f5f4fa;
  --alternative-background-color-white: #fff;
  --accent-division-line-lightgrey: #ececec;
}

/* GLOBAL */

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.button {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.hover-focus-blue:active,
.hover-focus-blue:focus,
.hover-focus-blue:hover {
  color: var(--main-brand-color);
}

.hover-focus-white:active,
.hover-focus-white:focus,
.hover-focus-white:hover {
  color: var(--alternative-text-color-white);
}

.list {
  list-style: none;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul,
li {
  padding: 0;
}

/* HEADER*/

.header-padding-border {
  border-bottom: 1px solid var(--accent-division-line-lightgrey);
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-nav {
  display: flex;
  align-items: center;
}

.logo,
.logo:visited,
.logo:active {
  color: var(--main-text-color);
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: var(--main-brand-color);
}

.nav-links {
  display: flex;
  margin-left: 93px;
  padding: 0;
}

.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  text-decoration: none;
}
.nav-item {
  margin-right: 46px;
}

.nav-item:last-child {
  margin-right: 0;
}

.header-contact {
  color: var(--alternative-text-color-grey);
  font-weight: 500;
  text-decoration: none;
}

.header-mail {
  margin-right: 50px;
}
.header-tel {
  margin-right: 0;
}

/* MAIN */

/* HERO */
.hero {
  background-color: var(--main-background-color);
  padding-bottom: 185px;
  padding-top: 185px;
}

.flex-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-header {
  color: var(--alternative-text-color-white);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36em;
  width: 696px;
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  background-color: var(--main-brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  color: var(--alternative-text-color-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88em;
  padding: 10px 40px;
}

/* OUR ADVANTAGES */

.advantages {
  padding-bottom: 0;
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  margin: 0;
}

.advantages-item {
  margin-right: 30px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-term {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-description {
  float: left;
  color: var(--alternative-text-color-grey);
  letter-spacing: 0.03em;
  line-height: 1.71em;
  margin: 0;
}

/* WHAT WE DO */

.flex-showcase {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px 0;
}

.showcase-item {
  display: inline-block;
  margin-right: 30px;
}

.showcase-item img {
  display: block;
}

.showcase-item:last-child {
  margin-right: 0;
}

/* OUR TEAM */

.team {
  background-color: var(--alternative-background-color-lightgrey);
}

.flex-team {
  display: flex;
}

.team-member {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
}

.team-member:last-child {
  margin-right: 0;
}

.team-card {
  background-color: var(--alternative-background-color-white);
  margin: 0;
}

.team-card > figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}

.team-person {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.team-role {
  color: var(--alternative-text-color-grey);
  font-size: 16px;
  margin: 0;
}

/* FOOTER */

.footer {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-dark-background {
  color: var(--alternative-text-color-white);
}

.footer-address {
  margin-top: 20px;
}

.footer-contact-item {
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contact-item:last-child {
  margin-bottom: 0;
}

.footer-location {
  color: var(--alternative-text-color-white);
  text-decoration: none;
}

.footer-mail {
  color: var(--alternative-text-color-black-alfa60);
  text-decoration: underline;
}

.footer-tel {
  color: var(--alternative-text-color-black-alfa60);
  text-decoration: none;
}

/* PORTFOLIO */

/* FITLER */

.filter-button {
  background-color: var(--alternative-background-color-lightgrey);
  border: none;
  color: var(--alternative-text-color-darkgrey);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63em;
}

.filter-button:active,
.filter-button:focus,
.filter-button:hover {
  background-color: var(--main-brand-color);
  color: var(--alternative-text-color-white);
}

/* PORTFOLIO GALLERY */

.portfolio-project-title {
  color: var(--alternative-text-color-darkgrey);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2em;
}

.portfolio-project-type {
  color: var(--alternative-text-color-grey);
  font-size: 16px;
  line-height: 1.88em;
}
